[submodule "hw1_github_actions/googletest"]
	path = hw1_github_actions/googletest
	url = https://github.com/google/googletest.git
[submodule "hw3_allocator/Catch2"]
	path = hw3_allocator/Catch2
	url = https://github.com/catchorg/Catch2.git
